#user-input {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

#poem-title, #poem-content {
    margin:auto auto;
    width: 100%;
    text-align: center;
}

#poem-title label {
    width: 100%;
    margin: auto auto;
    text-align: center;
}

#poem-content {
    margin-top: 2%;
}

#closeModalBtn {
    margin: 0;
    padding: 0;
}

.modal-header {
    display: block !important;
}

.modal-body {
    text-align: center;
}

.submitButtonContainer{
    text-align: center;
    margin-top: 6%;
}