#menu{
    background-color: #62d8c2;
    font-family: 'Roboto', monospace, Verdana, Tahoma, sans-serif;
    position: fixed;
    width: 100%;
    padding: 12px 20px;
    left: 0px;
    top: 0px;
    color: white;
}