.note
{
    text-align: center;    
    font-weight: bold;
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-bottom: 2em;   
}

#noteHeader{
    font-size: 24px;
    padding-top: 3%;
}

#noteSubHeader{
    font-weight: 500;
}

.submitButtonContainer{
    margin-top: 1em;
}

main {
    margin: 8em auto;
}